.principal {
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Eczar', serif;
    background-color: rgb(253, 253, 253);
    width: 450px;
    height: 350px;
    position: relative;
     }

img {
    padding-top: 5px;
    position: absolute;
    top: 8px;
    right: 16px;
    width: 70px;
    height:80px ;
}

 .carta {
     padding-top: 10px;
     text-align: left;
     color: rgba(0, 0, 0, 0.897);
}

.l-part {
text-align: justify left;
float: left;
}

.r-part {
    position: absolute;
    top: 100px;
    right: 7px;
}
 
.xd {
 font-family: 'Eczar', serif;
 width: 100px;
 height: 20px;
 margin: 10px 10px;
 border: none;
 display: block;
 background-color: rgb(253, 253, 253);;
 border-bottom: 2px solid gray;
}

.boton

#botonsito {
 background-color: rgba(0, 127, 211, 0.507);

 border: 2px rgb(253, 253, 253);
 position: absolute;
  top: 90%;
  left: 45%;
  font-size: 16px;
  font-family: 'Eczar', serif;
  transition-duration: 0.2s;
  color: black;
  width: 80px;
  height: 40px;
}

#botonsito:hover{
background: rgb(84, 28, 236);
border: 2px rgba(0, 127, 211, 0.507);
color: whitesmoke;